@charset "utf-8";

// color
$primary: #003879;
$primary2: #376CFB;
$red: #FF2828;
$red2: #FFBCBC;
$blue: #82A3FF;
$blue2: #E6ECFF;
$green: #33C481; 

$default: #222;
$black1: #444;
$black2: #333;
$black3: #888;
$black4: #5b5b5b;

$border: #E1E5EA;
$border2: #d2d2d4;
$border3: #C4C4C4;

$bg: #F1F2F5;
$bg2: #DFDFDF;
$bg3: #7A7A7A;