@use "../../assets/scss/styles.scss"as *;

.sidebar-wrap {
    display: flex;
    flex-direction: column;
    width: 220px;
    min-width: 220px;
    @include calc-height(48);
    padding-bottom: 40px;
    background: #293846;

    &>nav {
        overflow-y: auto;
        width: 100%;
        height: 100%;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 99px;
            background: rgba($blue, .3)
        }
    }
}