@use "../../assets/scss/styles.scss"as *;

.navigation-bar {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 24px;
    background: $bg;

    &>logo-component {
        --logo-width: 156px;
    }

    &>.info {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-left: auto;
    }

    &>.logout-button {
        margin-left: 50px;
    }
}